@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.card {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  background-color: var(--background);
  box-shadow: 0 2px 20px 4px rgba(204, 204, 204, 0.5);
  border-radius: 8px;
  padding: 16px;
  animation: fadeIn 0.5s ease-in;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-logo {
  width: 50px;
  border-radius: 50%;
}

.location {
  color: var(--color-dark-gray);
  font-size: 12px;
  margin-top: 0px;
}

.tag-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  margin-top: 12px;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 8px;
  font-size: 12px;
  border-radius: 20px;
  background-color: var(--color-light-gray);
  color: var(--text-primary);
  font-weight: bold;
}

.cta-button-wrapper {
  display: flex;
  align-items: flex-end;
  height: 100%;
  gap: 22px;
}

.cta-button {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: var(--secondary);
  color: var(--text-secondary);
}

.cta-button:last-child {
  background-color: var(--text-secondary);
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
}

.cta-button:hover {
  filter: opacity(80%)
}
