@import url('https://rsms.me/inter/inter.css');

:root {
  --background: #ffffff;
  --text: #000000;
  --text-light: #ffffff;
  --primary: #4992fc;
  --secondary: #ff7a6d;
  --color-tropical-blue: #C4DBFB;
}

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

button {
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
