@import url('https://rsms.me/inter/inter.css');

:root {
  --background: #ffffff;
  --text: #000000;
  --primary: #4992fc;
  --secondary: #ff7a6d;
}

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}
